@media (max-width: 9999px) {
    .barra-fixa-mobile {
        display: none;
    }

    .mobile {
        display: none;
    }
}

@media (max-width: 935px) {
    .lateral {
        display: none;
    }

    .conteudo-cima {
        display: flex;
        justify-content: space-around;
        width: 100vw;
    }

}

/* MOBILE */    

@media (max-width: 614px) {
    .conteudo-cima {
        width: 100vw;
        position: absolute;
    }
    
    .barra-de-busca {
        display: none;
    }

    .divisoria {
        display: none;
    }

    .icones {
        display: none;
    }

    .mobile {
        display: unset;
        top: 17px;
        right: 18px;
        width: 22px;
        position: absolute;
    }

    .logo .icone {
        top: 17px;
        left: 22px;
        position: absolute;
    }

    .logo img {
        margin: auto;
    }

    .stories {
        width: 100vw;
        border: 0;
        margin-top: 22px;
        margin-bottom: 18px;
        background-color: #FAFAFA;
    }

    .botao {
        display: none
    }

    .feed {
        width: 100vw;
        height: 1215px;
    }
    
    .publicacao {
        width: 100vw;
        height: 765px;
    }
    
    .informacoes {
        width: 100vw;
    }
    
    .imagem-feed img {
        width: 100vw;
        height: 100%;
    }
    
    .interacao {
        width: 100vw;
        height: 100%;
    }

    .publicar {
        display: none;
    }
    
    .baixo {
        margin-bottom: 54px;
        width: 100vw;
        height: auto;
        overflow: hidden;
    }

    .barra-fixa-mobile {
        display: unset;
        display: flex;
    }
    
    .barra-fixa-mobile .opcoes {
        width: 100%;
        height: 54px;
        justify-content: space-around;
        align-items: center; 
        background: #FFFFFF;
    }
}